{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% if messages %}
    {% for m in messages %}<p class="bg-success p-3 text-white">{{ m }}</p>{% endfor %}
  {% endif %}
  <a href="{% url 'edit_profile' %}" class="btn btn-warning ms-5 mt-3">Edit Profile</a>
  <h3 class="text-center mt-4">Order History</h3>
  <div class="d-flex flex-wrap justify-content-center px-5 pt-2">
    {% for order in orders %}
      <div class="col-sm-3">
        <div class="card m-2" style="width: 18rem;">
          <img src="{{ order.car.image.url }}"
               class="card-img-top"
               alt="{{ order.car.name }} Image"
               style="height: 240px">
          <div class="card-body">
            <h5 class="card-title">{{ order.car.name }}</h5>
            <p style="color:#D6A439; font-size: 18px">{{ order.car.brand }}</p>
            <p class="fst-italic">${{ order.car.price }}</p>
            <a class="btn btn-outline-warning"
               href="{% url 'car_detail' order.car.id %}">View Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
