{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="d-flex">
    <div class="col-6">
      <img src="{{ car.image.url }}"
           alt="{{ car.name }} Image"
           style="width: 100%">
    </div>
    <div class="col-6 p-5">
      <h5>{{ car.name }} Details</h5>
      <p>Price: ${{ car.price }}</p>
      <p>Quantity: ${{ car.quantity }}</p>
      <p>Brand: {{ car.brand.name }}</p>
      <p>{{ car.description }}</p>
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'purchase_car' id=car.id %}">
          {% csrf_token %}
          <button class="btn btn-warning" type="submit">Buy Now</button>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="card m-2">
    <h5 class="p-3">Total Comments : {{ comments | length }}</h5>
    {% for comment in comments %}
      <div class="card-body border m-2">
        <p>
          <b>{{ comment.name }}</b> <span class="fst-italic ms-2">{{ comment.created_on }}</span>
        </p>
        <p>{{ comment.text }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="card m-2">
    <div class="card-body">
      <h4 class="text-center py-2">Leave Your Comment</h4>
      <form method="post">
        {% csrf_token %}
        {{ comment_form | crispy }}
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}
