{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if messages %}
    {% for m in messages %}<p class="bg-success p-3 text-white">{{ m }}</p>{% endfor %}
  {% endif %}
  <div class="d-flex align-items-center">
    <div class="col-6 text-center p-5">
      <h3 class="fs-2 text-warning">The Future is Sustainable</h3>
      <p>
        We’re building a world powered by solar energy, running on batteries and transported by electric vehicles. Explore the most recent impact of our products, people and supply chain.
      </p>
      <button class="btn btn-small btn-outline-warning px-3">Explore Impact</button>
    </div>
    <div class="col-6">
      <img src="{% static 'images/showroom.jpg' %}"
           alt="Showroom Image"
           style="width: 100%">
    </div>
  </div>
  <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
    <a class="btn btn-small btn-outline-warning"
       href="{% url 'filtered_cars_all' %}">All</a>
    {% for brand in brands %}
      <a class="btn btn-small btn-outline-warning"
         href="{% url 'filtered_cars' brand.id %}">{{ brand.name }}</a>
    {% endfor %}
  </div>
  <h4 class="ps-5">Total Car Found: {{ cars | length }}</h4>
  <div class="d-flex flex-wrap justify-content-center px-5 pt-3">
    {% for car in cars %}
      <div class="col-sm-3">
        <div class="card m-2" style="width: 18rem;">
          <img src="{{ car.image.url }}"
               class="card-img-top"
               alt="{{ car.name }} Image"
               style="height: 240px">
          <div class="card-body" style="line-height: 10px">
            <h5 class="card-title">{{ car.name }}</h5>
            <p style="color:#D6A439; font-size: 18px">{{ car.brand }}</p>
            <p class="fst-italic">${{ car.price }}</p>
            <a class="btn btn-outline-warning" href="{% url 'car_detail' car.id %}">View Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
