{% extends "base.html" %}
{% block content %}
  <h1>Car Listings</h1>
  <form method="get" action="{% url 'car_list' %}">
    {% csrf_token %}
    <label for="brand_filter">Filter by Brand:</label>
    <select name="brand_filter" id="brand_filter">
      <option value="">All Brands</option>
      {% for brand in brands %}<option value="{{ brand.id }}">{{ brand.name }}</option>{% endfor %}
    </select>
    <button type="submit">Apply Filter</button>
  </form>
  <h4>Total Car Found: {{ cars | length }}</h4>
  <div class="d-flex flex-wrap justify-content-center px-5 pt-3">
    {% for car in cars %}
      <div class="col-sm-3">
        <div class="card m-2" style="width: 18rem;">
          <img src="{{ car.image.url }}"
               class="card-img-top"
               alt="{{ car.name }} Image"
               style="height: 240px">
          <div class="card-body">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="fw-bold">{{ car.brand }}</p>
            <p class="fst-italic">${{ car.price }}</p>
            {% comment %} <p class="card-text">{{ car.description }}</p> {% endcomment %}
            {% if user.is_authenticated %}
              <a class="btn btn-warning" href="{% url 'car_detail' car.id %}">View Details</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
