{% extends "base.html" %}
{% block content %}
  {% if messages %}
    {% for m in messages %}<p class="bg-success p-3 text-white">{{ m }}</p>{% endfor %}
  {% endif %}
  <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
    <a class="btn btn-small btn-warning"
       href="{% url 'filtered_cars_all' %}">All</a>
    {% for brand in brands %}
      <a class="btn btn-small btn-warning"
         href="{% url 'filtered_cars' brand.id %}">{{ brand.name }}</a>
    {% endfor %}
  </div>
  <h4 class="ps-5">Total Car Found: {{ cars | length }}</h4>
  <div class="d-flex flex-wrap justify-content-center px-5 pt-3">
    {% for car in cars %}
      <div class="col-sm-3">
        <div class="card m-2" style="width: 18rem;">
          <img src="{{ car.image.url }}"
               class="card-img-top"
               alt="{{ car.name }} Image"
               style="height: 240px">
          <div class="card-body">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="fw-bold text-warning">{{ car.brand }}</p>
            <p class="fst-italic">${{ car.price }}</p>
            <a class="btn btn-warning" href="{% url 'car_detail' car.id %}">View Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
